# Accept the VMware End User License Agreement
vmaccepteula

# clear paritions and install
clearpart --firstdisk --overwritevmfs
install --firstdisk --overwritevmfs

# Set the root password
rootpw --iscrypted {{ vm_password_hash }}

# Host Network Settings
network --bootproto=dhcp

# Reboot after installation is finished
reboot

# Enable ESXi Shell and SSH
%pre --interpreter=busybox
# msg="KSLOG: enable ssh"
# vmdumper -g "$msg"
# echo $msg > /dev/klog
echo "Disable firewall" > /dev/ttyS0
localcli network firewall set --enabled=0

echo "Disable Shell warning and timeout" > /dev/ttyS0
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
esxcli system settings advanced set -o /UserVars/ESXiShellTimeOut -i 1

echo "Start Shell and SSH" >/dev/ttyS0
/etc/init.d/ESXShell start
/etc/init.d/SSH start
logger "$msg"

# Firstboot script
%firstboot --interpreter=busybox
echo "Disable Account Locking" >/dev/ttyS0
vim-cmd hostsvc/advopt/update Security.AccountLockFailures int 0

# Create local.sh
echo "Create /etc/rc.local.d/local.sh" >/dev/ttyS0
echo "#!/bin/sh" > /etc/rc.local.d/local.sh
# Enable SSH
echo "logger \"enabling and starting ssh\"" >> /etc/rc.local.d/local.sh
echo "vim-cmd hostsvc/enable_ssh 2>&1 | logger" >> /etc/rc.local.d/local.sh
echo "vim-cmd hostsvc/start_ssh 2>&1 | logger" >> /etc/rc.local.d/local.sh
# Enable DCUI
echo "logger \"enabling and starting esx shell\"" >> /etc/rc.local.d/local.sh
echo "vim-cmd hostsvc/enable_esx_shell 2>&1 | logger" >> /etc/rc.local.d/local.sh
echo "vim-cmd hostsvc/start_esx_shell 2>&1 | logger" >> /etc/rc.local.d/local.sh
echo "exit 0" >> /etc/rc.local.d/local.sh
sync
/etc/rc.local.d/local.sh

echo '{{ autoinstall_complete_msg }}' >/dev/ttyS0
# Reboot
sleep 30
reboot
